
<div class="file-browser-window">
    {% if init_node is not defined %}
    {% set init_node = null %}
    {% endif %}
    {% if exclude_nodes is not defined %}
        {% set exclude_nodes = null %}
    {% endif %}
    {% if input is not defined %}
        {% set input = '.file-form-category' %}
    {% endif %}
    {{
        include('LineStormFileBundle:Form:filetreebrowser.html.twig', {
            url: url('linestorm_cms_module_file_api_get_category_filetree')
        })
    }}
    <div class="file-directory-preview">

    </div>

    <div class="clearfix"></div>
</div>
