{% extends '@plugin_content_management/base.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_content_management_node_index') }}">Nodes</a></li>
{% endblock %}

