{% extends '@plugin_content_management/base.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#">Routing</a></li>
{% endblock %}

{% block plugin %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                {% set selected_tab = selected_tab|default('main') %}
                <li {% if selected_tab == 'settings' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_routing_settings') }}">Settings</a></li>
                <li {% if selected_tab == 'routes' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_routing_routes') }}">Routes</a></li>
                <li {% if selected_tab == 'manage' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_routing_manage') }}">Manage</a></li>
            </ul>
            <div class="tab-content tab-content-bordered">
                {% block tab %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
