{% extends '@plugin_field_file/File/base.html.twig' %}
{% set page_modules = ['cms/field_file/category/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_field_file_category_new') }}">Create</a></li>
{% endblock %}

{% block page_icon %}
    <i class="page-header-icon fa-plus"></i>
{% endblock %}

{% block page_title %}
    New File
{% endblock %}

{% block page_desc %}
    Create a new content node category
{% endblock %}

{% block plugin %}
    {{ include('@plugin_field_file/File/form.html.twig') }}
{% endblock %}
