{% extends '@plugin_field_category/Category/base.html.twig' %}
{% set page_modules = ['cms/field_category/category/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_field_category_category_new') }}">Create</a></li>
{% endblock %}

{% block page_icon %}
    <i class="page-header-icon fa-plus"></i>
{% endblock %}

{% block page_title %}
    New Category
{% endblock %}

{% block page_desc %}
    Create a new content node category
{% endblock %}

{% block plugin %}
    {{ include('@plugin_field_category/Category/form.html.twig') }}
{% endblock %}
