* {
    border-radius: 0 !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    text-shadow: none !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #333;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    background-color: $bs-page-bg;
}

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0px;
    margin: 2px 0px;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0px !important;
    margin: 1px 0px !important;
}

a {
    color: #333;
    text-decoration: none !important;
}

a:hover {
    color: #888;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: 0;
}

.bold {
    font-weight: 600;
}

hr {
    margin: 8px 0px 8px 0px !important;
    padding: 0px !important;
    border-top: 0px;
    border-bottom: 1px solid #ddd !important;
    height: 0px;
}

/* Meta rules */
:focus {
    outline:none;
}

::-moz-focus-inner {
    border:0;
}
