{% extends '@theme/layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_field_category_categories') }}">Node Categories</a></li>
{% endblock %}

{% block page_icon %}
    <i class="page-header-icon fa-share-alt"></i>
{% endblock %}
