<!DOCTYPE html>
<html lang="en">
<head>

    {% if form|default(false) %}
        {% form_theme form '@theme_nefarian_admin_dark/Form/fields.html.twig' %}
    {% endif %}

    <title>{% block meta_title %}LineStorm CMS Admin Panel{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- START META -->
    {% block head_meta %}

    {% endblock %}
    <!-- END META -->

    <!-- START STYLESHEETS -->
    {% stylesheets
    filter="compass" output="css/cms/core/main.css"
    "@theme_nefarian_admin_dark/Resources/assets/sass/main.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block head_stylesheets %}

    {% endblock %}
    <!-- END STYLESHEETS -->

    <!-- START JAVASCRIPTS -->
    <script type="text/javascript">
        window.Nefarian = {};
    </script>
    {% set page_modules = page_modules|default([]) %}
    {% block head_javascripts %}
        {{ include('NefarianCmsBundle::requirejs.html.twig', {
        requirejs_module: ['cms/core/api', 'theme/nefarian_admin_dark/main']|merge(page_modules)
        }) }}
    {% endblock %}
    <!-- END JAVASCRIPTS -->

</head>
<body class="theme-default main-menu-animated page-signin">
    {% block page %}

    {% endblock %}
</body>
</html>
