@import "compass";

// ### Variables
@import "./theme/variables";
$icon-font-path: "/vendor/sass-bootstrap/fonts/";
$fa-font-path: "/vendor/font-awesome/fonts";


@import "custom";

@import "vendor/sass-bootstrap/lib/bootstrap";
@import "vendor/font-awesome/scss/font-awesome";

@import "animate";

@import "./theme/mixins";
@import "./theme/base";
@import "./theme/main_navbar";
@import "./theme/main_menu";
@import "./theme/navbar";
@import "./theme/buttons";
@import "./theme/progress_bars";
@import "./theme/labels";
@import "./theme/badges";
@import "./theme/breadcrumb";
@import "./theme/alerts";
@import "./theme/tables";
@import "./theme/navs";
@import "./theme/dropdowns";
@import "./theme/button_groups";
@import "./theme/pagination";
@import "./theme/list_groups";
@import "./theme/forms";
@import "./theme/input_groups";
@import "./theme/panels";
@import "./theme/wells";
@import "./theme/popovers";
@import "./theme/tooltips";
@import "./theme/modals";
@import "./theme/accordions";
@import "./theme/notes";
@import "./theme/counters";
@import "./theme/colors";
@import "./theme/stats";
@import "./theme/utils";

@import "./theme/pages/signup";

@import "./theme/pages/signin";

// jQuery UI
//

@import "./theme/plugins/jquery_ui/common";
@import "./theme/plugins/jquery_ui/sliders";
@import "./theme/plugins/jquery_ui/accordions";
@import "./theme/plugins/jquery_ui/autocomplete";
@import "./theme/plugins/jquery_ui/menus";
@import "./theme/plugins/jquery_ui/spinners";
@import "./theme/plugins/jquery_ui/progress_bars";
@import "./theme/plugins/jquery_ui/tabs";
@import "./theme/plugins/jquery_ui/datepicker";
@import "./theme/plugins/jquery_ui/tooltips";


// Plugins

@import "./theme/plugins/pa.switcher";
@import "./theme/plugins/pa.limiter";
@import "./theme/plugins/pa.expanding_input";
@import "./theme/plugins/pa.wizard";
@import "./theme/plugins/pa.file_input";
@import "./theme/plugins/jquery.select2";
@import "./theme/plugins/bootstrap_datepicker";
@import "./theme/plugins/bootstrap_timepicker";
@import "./theme/plugins/bootstrap_datepaginator";
@import "./theme/plugins/bootstrap_tabdrop";
@import "./theme/plugins/jquery.minicolors";
// {
@import "./theme/plugins/bootstrap_editable/bootstrap_editable";
@import "./theme/plugins/bootstrap_editable/address";
@import "./theme/plugins/bootstrap_editable/typeahead";
// }
@import "./theme/plugins/bootbox";
@import "./theme/plugins/jquery.datatables";
@import "./theme/plugins/jquery.growl";
@import "./theme/plugins/dropzone";
@import "./theme/plugins/summernote";
@import "./theme/plugins/bootstrap_markdown";
@import "./theme/plugins/jquery.sparkline";
@import "./theme/plugins/easy_pie_chart";
@import "./theme/plugins/morris";
@import "./theme/plugins/jquery.flot";
@import "./theme/plugins/slim_scroll";

@import "./theme/themes/default/default";

@import "custom";
@import "./widgets/menu_widget";

// add widgets here
// @import "./theme/widgets/...";

[class*="fa-"] {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
