{% extends '@theme/layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ url('nefarian_plugin_file_index') }}"><i class="fa-picture-o"></i> File</a></li>
    {% block module_bread %}

    {% endblock %}
{% endblock %}


{% block page_icon %}
    <i class="page-header-icon fa-picture-o"></i>
{% endblock %}
