{% extends '@theme/layout.html.twig' %}

{% block page_title %}
    Manage Plugins
{% endblock %}

{% block page_desc %}
    Install, update and disable plugins
{% endblock %}

{% block plugin %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Plugin</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>
                        <div class="switcher switcher-theme-square switcher-sm">
                            <input data-class="switcher-sm"
                                   class="switcher-example-square"
                                   type="checkbox"
                                   name="selectedFields[]"
                                   value="{{ '{{ obj.name }}' }}">
                            <div class="switcher-toggler"></div>
                            <div class="switcher-inner">
                                <div class="switcher-state-on">ON</div>
                                <div class="switcher-state-off">OFF</div>
                            </div>
                        </div>
                    </td>
                    <td>{{ plugin.name }}</td>
                    <td>@todo</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}